:root {
  --font-script: 'Style Script', cursive;
  --font-boogaloo: 'Boogaloo', cursive;
  --color-navy: #004369;
  --color-red: #db1f48;
  --color-teal: #01949a;
  --color-sand: #e5ddc8;
  --color-baby: #c0dcec;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-navy);
}

.books p {
  font-family: var(--font-script);
  font-size: 1.5rem;
  color: var(--color-sand);
}

h1 {
  font-family: var(--font-boogaloo);
  font-size: 3rem;
  text-align: center;
  color: var(--color-sand);
}

h2 {
  font-family: var(--font-boogaloo);
  color: var(--color-sand);
}
